body {
    font-size: 12px;
    font-family: arial;
}

#infographic {
    width: 1200px;
    height: 600px;
    margin: 20px;
    float: left;
}

#infographic canvas {
    position: absolute;
    left: 0;
    top: 0;
}
