html {
    width: 100%;
    height: 100%;
}

body {
    font-size: 11px;
    line-height: 13px;
    font-family: 'Rubik';
    background: #fff;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


/* architecture */

#scroller {
    position: relative;
    width: 100%;
}


#story {
    position: absolute;
    left: 60px;
    top: 60px;
    font-size: 13px;
    line-height: 19px;
    width: 200px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.loaded #story, .loaded #infographic {
    opacity: 1;
}

.chapter {
    position: absolute;
    width: 100%;
    left: 0;
}

#infographic {
    width: calc(100% - 200px);
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(146,131,113,0.8);
}

.intro {
    position: fixed;
    left: 0;
    top: 180px;
}

#topbar {
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px 60px;
    width: 100%;
    height: 150px;
    background: #fff;
    z-index: 100;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    transition: all 0.5s ease;
}

h1 {
    font-size: 45px;
    line-height: 45px;
    margin: 0;
    font-weight: 400;
    transition: all 0.5s ease;
}

.branding {
    width: 500px;
    transition: all 0.5s ease;
}

.active #topbar {
    height: 50px;
    padding: 10px 60px;
}

.active #topbar h1 {
    font-size: 15px;
    line-height: 15px;
}

.active .sender {
    top: 10px
}



/* elements */

.sender {
    position: absolute;
    right: 10px;
    top: 40px;
    width: 200px;
    text-decoration: none;
    display: block;
    color: #000;
    z-index: 100;
    transition: all 0.5s ease;
}

.continue-line {
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    margin: 10px 0;
    position: relative;
}

.continue-line:after {
    position: absolute;
    left: calc(50% - 11px);
    bottom: -28px;
    width: 22px;
    height: 12px;
    background-image: url('../images/continue.svg');
    content: '';
}

.link-container {
    margin-top: 20px;
}

.link {
    margin-left: -6px;
    border-bottom: 0.5px solid #000;
    padding: 6px;
    display: inline-block;
    cursor: pointer;
}

.roll {
    display: none;
}


/* bouncer */

.scroll-trigger {
    margin-top: 60px;
    animation: bounce 3s infinite;
    transition: opacity 0.5s ease;
    position: relative;
    opacity: 1;
}

.active .scroll-trigger {
    opacity: 0;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-12px);
    }
    60% {
        transform: translateY(-5px);
    }
}









/* canvas */



.label {
    fill: #fff;
}

.lightlabel {
    fill: #999999;
}





/* graph */

.graph-axis-line, .arrowhead {
    stroke: #aaa;
    stroke-width: 1px;
}

.graph-label {
    fill: #000;
    stroke: none;
}

.graph-top-bar {
    stroke: #000;
    stroke-width: 6px;
}

.graph-header-text {
    font-size: 24px;
    line-height: 28px;
}

.checkbox {
    fill: #fff;
    stroke-width: 2px;
    cursor: pointer;
}

.checkbox-check {
    stroke: #000;
    stroke-width: 1px;
    cursor: pointer;
}

.sidestream-bar line {
    stroke: #000;
    stroke-width: 4px;
}

/* valorisations */


.valorisation {
    cursor: pointer;
    transition: all 0.5s ease;
}

.valorisation-sub-element {
    transition: all 0.5s ease;
}



/* legend */

.legend {
    margin: 20px 0;
}

.legend-header {
}

.legend-set {
    margin-bottom: 10px;
}

.legend-button {
    cursor: pointer;
    margin: -2px 0 -2px -4px;
    padding: 2px 4px;
    color: #B9B9B9;
}

.legend-button rect {
    fill: transparent;
}






/* popup */

.valoriation-popup, .disclaimer {
    position: fixed;
    left: 120px;
    top: 80px;
    height: calc(100% - 160px);
    width: calc(100% - 240px);
    padding: 40px;
    background: #fff;
    display: none;
    z-index: 10000;
}

.disclaimer {
    max-width: 400px;
    height: auto;
}

h2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #000;
    margin: 0;
}

.valorisation-container {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.valorisation-text {
    width: 260px;
    padding-right: 60px;
    float: left;
    padding-top: 12px;
}

.valorisation-image {
    width: calc(100% - 260px);
    float: left;
}

.valorisation-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.close-button {
    position:absolute;
    right: 16px;
    top: 16px;
    width: 24px;
    height: 24px;
    border: 1px solid transparent;
    border-radius: 12px;
    text-align: center;
    padding-top: 2px;
    font-weight: 700;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
}

.close-button:hover {
    border: 1px solid #000;
}

.valoriation-popup h2 {
    font-size: 28px;
}



@media (max-width: 768px) {

    .valorisation-image, .valorisation-text {
        width: 100%;
        float: none;
    }

}