body {
    font-size: 11px;
    line-height: 18px;
    font-family: 'Alegreya';
    background: #fff;
    padding: 0;
    margin: 0;
}



/* architecture */

#story {
    height: 2500px;
    position: relative;
    left: 60px;
    top: 60px;
    width: 160px;
}

.intro {
    position: fixed;
    left: 60px;
    top: 60px;
    width: 160px;
}


.chapter {
    position: fixed;
    width: 160px;
    left: 60px;
    opacity: 0;
}

.subtitle {
    padding-bottom: 10px;
}

.sector-graph {
    margin-top: 40px;
    display: none;
}




/* elements */

.scroll-trigger {
    margin-top: 20px;
    display: none;
}

.roll {
    display: none;
}

.continue-line {
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    margin: 10px 0;
    position: relative;
}

.continue-line:after {
    position: absolute;
    left: calc(50% - 11px);
    bottom: -28px;
    width: 22px;
    height: 12px;
    background-image: url('../images/continue.svg');
    content: '';
}

.link-container {
    margin-top: 20px;
}

.link {
    margin-right: 6px;
    border: 0.5px solid #000;
    padding: 6px;
    display: inline-block;
    cursor: pointer;
}




/* typography */

h1 {
    font-size: 36px;
    line-height: 34px;
    font-family: 'Alegreya';
    font-weight: 300;
    padding: 0 0 24px 0;
    margin: 0;
}

h2 {
    font-size: 16px;
    line-height: 16px;
}




/* canvas */

#infographic {
    width: calc(100% - 160px);
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

.label {
    fill: #fff;
    font-family: 'Arial';
}





/* graph */

.graph-axis-line, .arrowhead {
    stroke: #aaa;
    stroke-width: 1px;
}

.graph-label {
    fill: #000;
    stroke: none;
}

.graph-top-bar {
    stroke: #000;
    stroke-width: 6px;
}

.graph-header-text {
    font-size: 28px;
    line-height: 28px;
    font-family: 'Alegreya';
    font-weight: 300;
}



.checkbox {
    fill: #fff;
    stroke-width: 2px;
    cursor: pointer;
}

.checkbox-check {
    stroke: #000;
    stroke-width: 1px;
    cursor: pointer;
}



/* legend */

.legend-header {
}

.legend-button {
    cursor: pointer;
}

.legend-button rect {
    fill: transparent;
}


/* valorisations */


.valorisation {
    cursor: pointer;
    transition: all 0.5s ease;
}



/* popup */

.valoriation-popup, .disclaimer {
    position: fixed;
    left: 260px;
    top: 50px;
    max-height: calc(100% - 250px);
    overflow: auto;
    width: 500px;
    padding: 20px 20px 120px 20px;
    background: #fff;
    display: none;
    border: 0.5px solid #333;
    z-index: 100;
}

.close-button {
    position:absolute;
    right: 20px;
    bottom: 20px;
    padding: 4px 6px;
    cursor: pointer;
    border: 0.5px solid #333;
}

.valoriation-popup h2 {
    font-family: 'Alegreya';
    font-weight: 300;
    font-size: 28px;
}



@media (max-width: 1300px) {

    h1 {
        margin-bottom: 4px;
    }


}