body {
    font-size: 13px;
    line-height: 18px;
    font-family: 'Alegreya';
    background: #fff;
}



/* architecture */

#story {
    width: 300px;
    padding: 40px;
    height: 5000px;
    position: relative;
}

.intro {
    position: fixed;
    left: 40px;
    top: 40px;
    width: 220px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
    margin-bottom: 40px;
}

.chapter {
    position: fixed;
    width: 220px;
    left: 40px;
    opacity: 0;
}

.subtitle {
    position: fixed;
    right: 40px;
    width: 220px;
    top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 10px 4px;
}



/* typography */

h1 {
    font-size: 36px;
    line-height: 34px;
    font-family: 'Alegreya';
    font-weight: 300;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 24px 4px 30px 4px;
    margin: 0 0 30px 0;
}

h2 {
    font-size: 16px;
    line-height: 16px;
}


/* canvas */

#infographic {
    width: calc(100% - 300px);
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
}

.label {
    fill: #fff;
    font-family: 'Arial';
}





/* graph */

.graph-axis, .arrowhead {
    stroke: #000;
    stroke-width: 1px;
}

.graph-label {
    fill: #000;
    stroke: none;
}

.graph-top-bar {
    stroke: #000;
    stroke-width: 6px;
}

.graph-header-text {
    font-size: 28px;
    line-height: 28px;
    font-family: 'Alegreya';
    font-weight: 300;
}

.checkbox-header {
    font-weight: 700;
}

.checkbox {
    fill: #fff;
    stroke-width: 2px;
    cursor: pointer;
}

.checkbox-check {
    stroke: #000;
    stroke-width: 1px;
    cursor: pointer;
}

/* valorisations */

.valorisation-container {
    display: none;
}

.valorisation {
    cursor: pointer;
}



/* popup */

.valoriation-popup {
    position: fixed;
    left: calc(50% - 250px);
    top: 60px;
    max-height: calc(100% - 120px);
    overflow: auto;
    width: 500px;
    padding: 20px 20px 120px 20px;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    display: none;
    border: 0.5px solid #333;
}

.close-valorisation {
    position:absolute;
    right: 20px;
    bottom: 20px;
    padding: 4px 6px;
    cursor: pointer;
    border: 0.5px solid #333;
}

.valoriation-popup h2 {
    font-family: 'Alegreya';
    font-weight: 300;
    font-size: 28px;
}