body {
    font-size: 12px;
    font-family: arial;
    background: #fff;
}

#story {
    width: 50%;
    height: 2000px;
}

.chapter {
    height: 400px;
    padding-top: 200px;
}

#infographic {
    width: 50%;
    height: 100%;
    position: fixed;
    right: 20px;
    top: 20px;
}

#infographic canvas {
    position: absolute;
    left: 0;
    top: 0;
}

#hidden-element {
    width: 500px;
    height: 500px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

#hidden-element svg {
    width: 100%;
    height: 100%;
}

